.uppertext {
    position: absolute; 
    top: 25%;
    left: 40%;
    text-transform: uppercase;
    color: white;
    width: 350px;
    padding: 10px; 
    text-align: center;
    font: bold 24px/34px Helvetica, Sans-Serif;
}



p {
    text-align: left;
    font-size: 20px;
    font-family: Arial;
    color: rgb(0, 0, 0);
}

.ttl {
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS";
    color: red;
}

.sign1 {
    float: right;
    border: 1px solid #333;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: #f0f0f0;
}

.sign2 {
    float: left;
    border: 1px solid #333;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: #f0f0f0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.FSauth{     
    width: 200px;
    height: 200px; 
}

.FSreg{     
    width: 200px;
    height: 400px; 
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.item:hover {
    background-color: rgb(29, 27, 65);
}

.item:hover a {
    color: rgb(255, 255, 255);

}

main {
    padding: 1rem;
}

@media (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media (max-width: 600px) {
    .navbar ul {
        flex-wrap: wrap;
    }

    .item {
        width: 100%;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }
}